@keyframes moveInLeft{
  0%{
    opacity: 0;
    /* transform: translateX(-100px); */
    transform: translateX(-10rem);
  }
  80%{
    /* transform: translateX(10px); */
    transform: translateX(1rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight{
  0%{
    opacity: 0;
    /* transform: translateX(100px); */
    transform: translateX(10rem);
  } 
  80%{
    /* transform: translateX(-10px); */
    transform: translateX(-1rem);
  }
  100%{
    opacity: 1;
    transform: translate(0);
    /* color: #ff0000;  */
    /* the color red doesn't stays, its gone after the animation finishes(animation-duration) */
  }
}

@keyframes moveInBottom{
  0%{
    opacity: 0;
    /* transform: translateY(30px); */
    transform: translateY(3em);
  }
  100%{
    opacity: 1;
    transform: translate(0);
    /* color: #ff0000;  */
    /* the color red doesn't stays, its gone after the animation finishes(animation-duration) */
  }
}
